In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
import pandas as pd

In [ ]:
d17 = pd.read_csv("/content/drive/MyDrive/Movie Datasets/data17.csv")
d18 = pd.read_csv("/content/drive/MyDrive/Movie Datasets/data18.csv")
d19 = pd.read_csv("/content/drive/MyDrive/Movie Datasets/data19.csv")
d20 = pd.read_csv("/content/drive/MyDrive/Movie Datasets/data20.csv")
d21 = pd.read_csv("/content/drive/MyDrive/Movie Datasets/data21.csv")

In [ ]:
d = pd.concat([d17,d18,d19,d20,d21],ignore_index = True)
d['Cast'] = d['actor_1_name'] + ' ' + d['actor_2_name'] + ' '+ d['actor_3_name'] + ' '+ d['director_name']
d['Title'] = d['Title'].str.lower()
d.rename(columns = {'Title':'movie_title'},inplace = True)
d

,director_name,actor_1_name,actor_2_name,actor_3_name,Genre,movie_title,comb,Cast
0,James Merendino,Ben Schnetzer,Devon Sawa,James Duval,Comedy,punk's dead: slc punk 2,Ben Schnetzer Devon Sawa James Duval James Mer...,Ben Schnetzer Devon Sawa James Duval James Mer...
1,Christopher McQuarrie,Tom Cruise,Rebecca Ferguson,Simon Pegg,Action Adventure Thriller,mission: impossible - rogue nation,Tom Cruise Rebecca Ferguson Simon Pegg Christo...,Tom Cruise Rebecca Ferguson Simon Pegg Christo...
2,Lilly Wachowski Lana Wachowski,Mila Kunis,Channing Tatum,Sean Bean,Sci-Fi Fantasy Action Adventure,jupiter ascending,Mila Kunis Channing Tatum Sean Bean Lilly Wach...,Mila Kunis Channing Tatum Sean Bean Lilly Wach...
3,Alex Garland,Domhnall Gleeson,Alicia Vikander,Oscar Isaac,Drama Sci-Fi,ex machina,Domhnall Gleeson Alicia Vikander Oscar Isaac A...,Domhnall Gleeson Alicia Vikander Oscar Isaac A...
4,David Zellner,Rinko Kikuchi,Nobuyuki Katsube,Shirley Venard,Drama,"kumiko, the treasure hunter",Rinko Kikuchi Nobuyuki Katsube Shirley Venard ...,Rinko Kikuchi Nobuyuki Katsube Shirley Venard ...
...,...,...,...,...,...,...,...,...
4560,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,Action Adventure Thriller War Mystery,the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
4561,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...,Denzel Washington Frances McDormand Bertie Car...
4562,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,Drama Romance,a journal for jordan,Michael B. Jordan Chanté Adams Jalon Christian...,Michael B. Jordan Chanté Adams Jalon Christian...
4563,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
4564,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Drama Fantasy Mystery,memoria,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...

In [ ]:
d.to_csv('/content/drive/MyDrive/Movie Datasets/main_data.csv',index = False)